@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
    --primary-color:#7fd3d5;
    --secondary-color:#00a7a9;
    --dark-color:#636e72;
    --light-color:#e2eeefbf;
    --success-color:#1dd1a1;
    --error-color:#e55039;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'lato' ,sans-serif;
    color: #333;
    line-height: 1.6;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #333;
}
h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0px;
}

p {
    margin: 10px;
}

img{
    width:100%;
}

code ,pre{
    background: #333;
    color:white;
    padding:10px;
}
.hidden{
    visibility: hidden;
    height: 0 ;
}
/* Nav Bar */
.navbar{
    background-color:var(--primary-color);
    color: white;
    height: 70px;
}

.navbar .flex{
    justify-content: space-between;   

}
.navbar ul {
    display: flex;
}
.navbar a{
    color: white;
    padding: 10px;
    margin: 0 10px;
    transition: 5s;
}
.navbar a:hover{
    border-bottom: 2px solid white;
}
.logo a:hover {
    border-bottom: none;
}

/* Showcase */
.showcase{
    height: 400px;
    background-color: var(--primary-color);
    color: white;
    position: relative;
}
.showcase-text{
    animation:slideInFromLeft 1s ease-in;
}

.showcase h1{
    font-size: 40px;
}
.showcase p{
    margin: 20px 0;
}

.showcase .grid{
    grid-template-columns: 55% 45%;
    gap:30px;
    overflow: visible;
}
.showcase-form .form-control{
    margin: 30px 0;
}

.showcase-form{
    position: relative;
    top:60px;
    height: 350px;
    width:400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    animation:slideInFromRight 1s ease-in;
}

.showcase-form input[type='text'],
    input[type='email']{
        border:0;
        border-bottom: 1px solid black;
        width: 100%;
        padding:3px;
        font-size: 16px;

}
.showcase-form input:focus{
    outline: none;
}

.showcase::before,.showcase::after{
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
}

/* Stats */
.stats{
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in;
}

.stats-heading{
    max-width: 500px;
    margin: auto
}
.stats .grid h3{
    font-size: 35px;;
}
.stats .grid p{
    font-size: 20px;
    font-weight: bold;
}

/* CLI */
.cli .grid{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

.cli .grid > *:first-child{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* Cloud */
.cloud .grid{
    grid-template-columns: 4fr 3fr;
}

/* Language */
.language .flex{
    flex-wrap: wrap;
}
.language .card{
    margin:18px 10px 40px;
    transition: transform 0.2s ease-in-out;
}
.language .card h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.language .card:hover{
    transform: translateY(-10px);
}
/* Features */
.feature-head img{
    width: 200px;
  justify-self: flex-end;
}
.feature-sub-head img{
    width: 350px;
  justify-self: flex-end;
}

.feature-main .card >i{
margin-right: 20px;
}

.feature-main .grid{
padding:30px;
}
.feature-main .grid >*:first-child{
    grid-column: 1 / span 3 ;

}
.feature-main .grid >*:nth-child(2){
    grid-column: 1 / span 2 ;

}

/* Docs */
.docs-head img{
    width: 200px;
  justify-self: flex-end;
}

.docs-main h3{
    margin:20px 0;
}
.docs-main .grid{
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}
.docs-main nav li{
    font-size:17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #333;
}
.docs-main nav li a{
    color: var(--success-color);
}
.docs-main a:hover{
    font-weight: bold;
}
/* Sign In */
.sign-in{
    height: 100vh;
    border: 1px solid black;
    justify-self: center;
}
.sign-in h1{
    font-size: 40px;
}
.sign-in p{
    margin: 20px 0;
}

.sign-in .grid{
    grid-template-columns: 45% 40%;
    gap:0px;
    overflow: visible;
}
.sign-in-form .form-control{
    margin: 30px 0;
}
.sign-in-form{
    position: relative;
    top:60px;
    height: 330px;
    width:400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    /* animation:slideInFromLeft 1s ease-in; */
}

.sign-in-form input[type='text'],
    input[type='email']{
        border:0;
        border-bottom: 1px solid black;
        width: 100%;
        padding:3px;
        font-size: 16px;

}
.sign-in-form input:focus{
    outline: none;
}
.sign-in .flex{
    justify-content: space-between;
}



/* Footer */
.footer .social a{
    margin:0 10px;
}
@keyframes slideInFromLeft{
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes slideInFromRight{
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes slideInFromTop{
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes slideInFromBottom{
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}


/* Table and under  */
@media(max-width:768px){
   .grid,.showcase .grid,
   .stats .grid,
   .cli .grid,
   .cloud .grid,
   .feature-main .grid,
   .docs-main .grid{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
   }

   .showcase{
       height: auto;
   }
   .showcase-text{
       text-align: center;
       margin-top: 40px;
       animation:slideInFromTop 1s ease-in;
   }
   .showcase-form{
       justify-self: center;
       animation:slideInFromBottom 1s ease-in;
   }
   .cli .grid > *:first-child{
    grid-column: 1 ;
    grid-row: 1 ;
}
    .feature-head,
    .feature-sub-head,
    .docs-head  {
        text-align: center;
    }
    .feature-head img,
    .feature-sub-head img,
    .docs-head img {
        justify-self: center;
    }
    .feature-main .grid > *:first-child,
    .feature-main .grid > *:nth-child(2){
        grid-column: 1;
    }
}

/* Mobile  */
@media(max-width:500px){
    .navbar{
        height: 110px;
    }
    .navbar .flex{
        flex-direction: column;
    }
    .navbar ul {
        padding:10px;
        background-color: rgba(0, 0, 0, 0.1);
    }

}